@import "partials/base";

// Error pages ----
@import "partials/error";

// Bootstrap Select ----
@import "node_modules/bootstrap-select/sass/bootstrap-select";

// Sweet Alert ----
@import "node_modules/sweetalert/dev/sweetalert";

// Overrides ----
.sidebar .user-info {
  background: url('../img/user-background-default.jpg') !important;
}

.login-page {
  background-color: #222222 !important;

  .login-box {
    .logo a {
      font-size: 24px !important;
    }
  }
}

.input-group {
  .form-line:after{
    border-bottom: 2px solid #FF9800 !important;
  }
}